In [4]:
list1 = []
for i in range (2000,3200):
  if i % 7 == 0 and i % 5 != 0 : 
    list1.append(i)
  else:
    list1 = list1
print(list1)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [13]:
n = int(input("give n :"))
def factorial(n):
  if n == 0:
    return 1
  elif n == 1:
    return 1
  elif n < 0 :
    return -1
  else :
    return n*factorial(n-1)
print(factorial(n))

donner n :5
120

In [23]:
x = int(input("give x: "))
dict1 = {}
for i in range (1,x + 1):
  dict1[i] = i*i
print(dict1)

give x: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [29]:
ch = input("give a string : ")
y = int(input("give a number : "))
ch1 = ''
ch2 = ''
ch3 = ''
if y > 0 and y <= len(ch)-1 :
  for i in range(0,y):
    ch1 = ch1 + ch[i]
  for k in range (y+1, len(ch)):
    ch2 = ch2 + ch[k]
ch3 = ch1 + ch2
print(ch3)

give a string : kitten
give a number : 1
ktten

In [35]:
import numpy as np
a = np.array([[0,1],[2,3],[4,5]])
b = []
for w in range (0,len(a)):
  b.append(list(a[w]))
print(b)

[[0, 1], [2, 3], [4, 5]]

In [38]:
import numpy as np
a1 = np.array([0,1,2])
a2 = np.array([2,1,0])
print(np.cov(a1,a2))

[[ 1. -1.]
 [-1.  1.]]

In [94]:

import math
u = input("give comma-separated input sequence : ")
C = 50
H = 30
d = u.split(",")
d1 = ""
for k in range (0,len(d)) :
  Qi = math.sqrt((2 * C )* int(d[k])/H)
  Qi1 = round(Qi)
  d1 = d1 + ',' + str(Qi1)
print(d1)

give comma-separated input sequence : 100,150,180
,18,22,24